/* heavily inspired by https://home.elliott.computer */

.dir-table {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
    background-color: var(--bg);
}

.dir-table th {
    background-color: var(--code);
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    font-weight: 500;
    text-transform: lowercase;
    text-align: left;
    padding: 6px;
}

.dir-table th:last-child {
    border-right: none;
}

.dir-table td {
    padding: 6px;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    text-transform: lowercase;
    vertical-align: top;
}
.dir-table tr.wip td {
    color: rgb(184, 184, 184);
}
.dir-table tr.wip a {
    color: rgb(184, 184, 184);
}
.dir-table tr.wip .color-block {
    opacity: 0.4;
}

.dir-table td:last-child {
    border-right: none;
}
.dir-table td p:first-child {
    margin-top: 0;
}
.dir-table td p:last-child {
    margin-bottom: 0;
}

/* Keep existing styling for these elements */
.dir-table .color-block {
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(184, 184, 184);
    background-size: cover;
    background-position: center;
}

/* Keep all the existing children, details, and summary styles but update the class names */
.dir-table .children {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.dir-table details {
    width: 100%;
}

.dir-table details summary {
    text-transform: lowercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 2px 4px;
    flex-flow: row wrap;
    gap: 6px;
    max-width: max-content;
}

.dir-table details .child-definition {
    font-size: 12px;
    background-color: #f8f8f8;
    padding: 4px;
    width: 50%;
    margin-top: 4px;
    margin-bottom: 0px;
    min-height: 80px;
}

.dir-table details .child-definition p:first-child {
    margin-top: 0;
}

.dir-table details .child-definition p:last-child {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .dir-table {
        display: block;
    }

    .dir-table thead {
        display: none;
    }

    .dir-table, .dir-table tbody, .dir-table tr, .dir-table td {
        display: block;
    }

    .dir-table tr {
        margin-bottom: 40px;
    }

    .dir-table td:first-child {
        background-color: #f8f8f8;
        border-top: 1px solid #cacaca;
    }

    .dir-table td {
        border-right: none;
        border-bottom: 1px solid #cacaca;
    }

    .dir-table td:last-child {
        border-bottom: none;
    }
}