@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* heavily inspired by https://git.peppe.rs */

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --fg: black;
        --links: rebeccapurple;
        --code: #eee;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --fg: white;
        --links: #99cc66;
        --code: #111;
    }
}

* { scrollbar-color: var(--code) var(--bg); }

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 2em;
    min-height: 100%;
    overflow-wrap: break-word;
    line-height: 1.5;
}

@media only screen and (min-width: 1080px) {
	body {
		margin: 18em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

@media only screen and (min-width: 1400px) {
	body {
		margin: 18em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}
  
header {
    margin-bottom: 1em;
    font-weight: 400;
}

footer {
	margin-top: 0.5em;
	text-align: center;
	font-size: 80%;
	opacity: 0.4;
}

main {
    margin: 0 auto;
    padding: 2em;
    td {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

hr {
    margin: 2rem 0;
    border-top-width: 1px;
    color: var(--fg);
    opacity: 0.25;
}

p { margin-bottom: 1rem; font-weight: 300; }

a { color: var(--links); text-decoration: none; }
a:hover { text-decoration: underline; }

a.icon { color: var(--fg); opacity: 0.5; }
a.icon:hover { text-decoration: none; opacity: 1; }

header a {
    padding-right: 0.5rem;
    text-decoration: none;
    color: var(--fg);
    opacity: 0.5;
}

header a:hover { text-decoration: none; opacity: 1; }
header a.active { opacity: 1; }

strong, b { font-weight: 500; }