/* inspired by cgit, in particular the theme used on https://git.peppe.rs */

@media only screen and (min-width: 1080px) {
	div#cgit{
		margin: 18em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

@media only screen and (min-width: 1400px) {
	div#cgit{
		margin: 18em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

div#cgit a { color: rebeccapurple; text-decoration: none; }
div#cgit a:hover { text-decoration: underline; }

div#cgit table { border-collapse: collapse; }

div#cgit table.list {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

div#cgit table.list tr {
	background: white;
}

div#cgit table.list th {
	font-weight: 500;
	padding: 0.1em 0.5em 0.05em 0.5em;
	vertical-align: baseline;
	color: rebeccapurple;
}

div#cgit table.list td {
	border: none;
	padding: 0em 0.5em 0.1em 0.5em;
}

div#cgit table.list td a {
	color: var(--fg);
}

div#cgit table.list td a:hover {
	text-decoration: none;
}

div#cgit table.nowrap td { white-space: nowrap; }

div#cgit .left { text-align: left; }
div#cgit .right { text-align: right; }

div#cgit table.list td.reposection {
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	opacity: 0.5;
}

div#cgit table.list td.reposection::after, div#cgit table.list td.sublevel-repo a:hover::after {
	content: " / ";
	font-style: italic;
	opacity: 0.5;
}

div#cgit table.list td.sublevel-repo {
	padding-left: 1.5em;
}